<h2 class="page-header">Dashboard</h2>
<p>Welcome to Smart Contract</p>

{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}

{{#if user.contract.submitted}}
    <!--{{#if user.contract.submitted}}-->
    <div class="alert alert-info">You have already submitted the contract document</div>
            <!--{{else}}-->
    <!--<div class="row retry-tab">-->
    <!--<div class="col col-md-8 col-xs-9 retry-label"><span>An error has occurred during sending to blockchain.</span></div>-->
    <!--<div class="col col-md-4 col-xs-3 retry-button">-->
    <!--<a class="btn btn-primary" href="/contract/?retry=true">Retry</a>-->
    <!--</div>-->
    <!--</div>-->
            <!--{{/if}}-->
{{else}}
    <form action="/contract/" method="post" enctype="multipart/form-data" id="js-upload-form">

        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" type="text" class="form-control" name="title" placeholder="Title..." required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control" placeholder="Description..." rows="5"
                      required></textarea>
        </div>
        <div class="panel panel-default upload-form">
            <div class="panel-heading"><strong>Upload Contract File</strong>
                <small>(DOC, PDF)</small>
            </div>

            <div class="panel-body section__upload">

                <div class="row upload__method">
                    <div class="col col-md-6"><h4>Select file from your computer</h4></div>
                    <div class="col col-md-6">
                        <input type="file" name="file" id="js-upload-files" accept=".doc,.docx,.pdf">
                        <div class="btn btn-primary" id="selectFile">Select file</div>
                    </div>
                </div>

                <!--<div class="row"><h3>Or</h3></div>-->

                <div class="row upload__method">
                    <!--<div class="col col-md-12"><h4>Drag and drop files below</h4></div>-->
                    <div class="col col-md-12">
                        <div class="upload-drop-zone" id="drop-zone">
                            Or just drag and drop files here
                        </div>
                    </div>
                </div>

                <div class="row" id="selectedFile">
                    <span>Selected file: </span>
                    <span></span>
                </div>
            </div>
        </div>

        <div class="panel panel-default signer-tab">
            <div class="panel-heading"><strong>Select signatories</strong></div>

            <div class="panel-body">
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Signatories</label>
                    <div class="col-sm-9 select-signatory">
                        <select name="signers[]" class="form-control" id="signataires-list"
                                multiple="multiple"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 btn-actions">
                        <button type="submit" class="btn btn-primary btn-signataires-list">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div class="row contractor-tab">
        <div class="col-sm-12">
            <span>OR</span> &nbsp;&nbsp;&nbsp;<a href="/contract/become-signer" class="btn btn-danger">become a
            Signatory</a>
        </div>
    </div>
{{/if}}

