
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

@media screen and (min-width: 768px) {

    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    .header {
        margin-bottom: 30px;
    }

    .jumbotron {
        border-bottom: 0;
    }
}

.page-header {
    margin-top: 0;
}

footer {
    margin-top: 40px;
}

/* layout.css Style Uploader*/
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center;
    font-size: 24px;
    margin-top: 15px;
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.btn-signataires-list {
    margin-top: 15px;
}

.form-control.error {
    border-left: 4px solid #d43f3a;
}

.form-control.error:focus {
    border-color: #d43f3a;
}

.form-group .error {
    color: #d43f3a;
}

.upload-form.invalid {
    /*border: 1px solid #d43f3a;*/
    border-left: 4px solid #d43f3a;
}

.multiselect.dropdown-toggle {
    padding: 6px 50px;
}

#js-upload-files {
    display: none;
}

#selectFile {
    float: right;
}

.select-signatory {
    text-align: right;
}

.dropdown-menu {
    left: auto;
    right: 0;
}

.dropdown-menu li > a {
    padding: 7px 7px 7px 0;
}

.dropdown-menu li:not(:last-child) > a {
    margin-bottom: 2px;
}

.signer-tab .control-label {
    margin-bottom: 0;
    padding: 7px 9px;
}

.retry-tab .retry-label {
    padding-top: 8px;
    padding-bottom: 8px;
}
.retry-tab .retry-button {
    text-align: right;
}

.select-contract {
    height: 50px;
    font-size: 22px;
}

.verify-tab {
    text-align: center;
}

.pin-errors, .verify-errors {
    display: none;
}

#confirmPinCode .panel-body .col {
    word-break: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
}

#confirmPinCode .panel-body .row {
    border-bottom: 1px solid #ccc;
}
/*.section__upload .upload__method {*/
    /*border: 1px solid #ccc;*/
    /*padding: 7px;*/
    /*margin: -5px;*/
/*}*/