
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

@media screen and (min-width: 768px) {

    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    .header {
        margin-bottom: 30px;
    }

    .jumbotron {
        border-bottom: 0;
    }
}

.page-header {
    margin-top: 0;
}

footer {
    margin-top: 40px;
}

/* layout.css Style Uploader*/
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center;
    font-size: 24px;
    margin-top: 15px;
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.btn-signataires-list {
    margin-top: 15px;
}

.form-control.error {
    border-left: 4px solid #d43f3a;
}

.form-control.error:focus {
    border-color: #d43f3a;
}

.form-group .error {
    color: #d43f3a;
}

.upload-form.invalid {
    /*border: 1px solid #d43f3a;*/
    border-left: 4px solid #d43f3a;
}

.multiselect.dropdown-toggle {
    padding: 6px 50px;
}

#js-upload-files {
    display: none;
}

#selectFile {
    float: right;
}

.select-signatory {
    text-align: right;
}

.dropdown-menu {
    left: auto;
    right: 0;
}

.dropdown-menu li > a {
    padding: 7px 7px 7px 0;
}

.dropdown-menu li:not(:last-child) > a {
    margin-bottom: 2px;
}

.signer-tab .control-label {
    margin-bottom: 0;
    padding: 7px 9px;
}

.retry-tab .retry-label {
    padding-top: 8px;
    padding-bottom: 8px;
}

.retry-tab .retry-button {
    text-align: right;
}

.select-contract {
    height: 50px;
    font-size: 22px;
}

.verify-tab {
    text-align: center;
}

.pin-errors, .verify-errors {
    display: none;
}

#confirmPinCode .panel-body .col {
    word-break: break-word !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

#confirmPinCode .panel-body .row {
    border-bottom: 1px solid #ccc;
}

.loading-bar {
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.viewer-tab {
    margin-top: 15px;
}

.alert {
    word-break: break-all;
}

html, body {
    font-family: "Lato", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.contractor-tab {
    vertical-align: middle;
    display: inline-block;
    float: right;
}
.contractor-tab span {
    font-size: 22px;
    color: #555;
    vertical-align: text-top;
}

.contractor-tab .btn {
    border-radius: 0;
}

.btn-actions {
    text-align: right;
}

.selectWrap {
    min-height: 34px;
}

.section__upload--error {
    display: none;
}
.file-label {
    padding-left: 15px;
}

.file-name {
    cursor: pointer;
    color: #31708f;
    font-weight: bold;
    text-decoration: underline;
}

#previewDocument .modal-dialog {
    width: 80%;
    height: 90%;
}

#previewDocument .modal-dialog .modal-content,
#previewDocument .modal-dialog .modal-content .modal-body {
    height: 100%;
}



#previewDocument .modal-dialog iframe {
    width: 100%;
    height: 100%;
}


#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}
#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}
#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #ff0095 none repeat scroll 0 0;
}
#loader .lading {
    background-image: url("../images/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
}
@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/*.section__upload .upload__method {*/
/*border: 1px solid #ccc;*/
/*padding: 7px;*/
/*margin: -5px;*/
/*}*/